img {
    width: 100%;
}

.EventDetailsPage * {
    color: white;
    text-shadow: 1px 2px 3px #666;
}

.EventDetailsPage .ContainerDetails {
    padding: 20px;
}

.EventDetailsPage .btn {
    background-color: rgba(240, 255, 255, 0);
    padding: 10px;
    margin: 10px;
}

.image-container {
    position: relative;
}

.image-container .Hearts {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 75px;
    transition: 1s;

}

.image-container .Hearts:hover {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;

}