.Navigation nav {
    display: flex;
    flex-wrap: wrap;
    position: sticky;


}

.Navigation {
    background-color: rgb(255, 255, 255);
    color: black;

}

.Navigation nav a {
    text-decoration: none;
    color: inherit;
    list-style: none;

    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.Navigation nav a:hover {
    text-shadow: 1px 1px 10px rgb(255, 94, 151);
    transition: 1s;
}


.navbar-icon {
    width: 100px;

    height: auto;

    padding: 0;

    margin: 0;

    vertical-align: middle;

}

.navbar-search {
    flex-grow: 1;

    max-width: 400px;

    margin: 0 15px;

}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}