body,
html {
    background-color: black !important;
    height: 100%;


    margin: 0;
    padding: 0;
}

.bg-body-tertiary {
    background-color: black !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #000 !important;
}

a {
    color: inherit
}

hr {
    border: none;
    height: 5px;

    background: linear-gradient(25deg, black, red, black);

    animation: brillo 2.5s infinite;
}

@keyframes brillo {

    0%,
    100% {
        filter: brightness(0);
    }

    50% {
        filter: brightness(2.5);
    }
}