.HomePage {
    background-color: white;
    margin: 0;
    padding: 0;
}

.HomePage .Imgsbott {
    padding: 40px;

}


.HomePage h1,
.HomePage h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 20px 0;
    padding: 15px;
    color: #333;
}

.HomePage h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.HomePage h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 40px;
}

.HomePage .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.HomePage .small-img {
    width: 50%;
    max-width: 300px;
    border-radius: 10px;

}

.img-custom {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

img.img-fluid {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

img.img-fluid:hover {
    transform: scale(1.05);

}

h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 1rem;
    color: #666;
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.carousel-overlay h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.carousel-overlay .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.HomePage a {
    text-decoration: none;
}

.parallax-text {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.scroller {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-left: 100vw;
}

.scroller span {
    font-size: 50px;
    color: rgb(28, 4, 4);
    margin-right: 10vw;
    font-weight: bold;
}


.parallax-section {
    background-color: rgba(0, 0, 0, 0.189);
    margin: 0;
    padding: 20px;
}