.HomePage {
    background-color: white;
}


.HomePage h1,
.HomePage h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 20px 0;
    padding: 10px;
    color: #333;
}

.HomePage h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.HomePage h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 40px;
}

.HomePage .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.HomePage .small-img {
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

.img-custom {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

img.img-fluid {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

img.img-fluid:hover {
    transform: scale(1.05);

}

h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 1rem;
    color: #666;
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.carousel-overlay h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.carousel-overlay .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}